@import '../styles/var.scss';

.pant-col {
  float: left;
  box-sizing: border-box;
  min-height: 1px;
}

@for $i from 1 through 24 {
  .pant-col--#{$i} {
    width: $i * 100% / 24;
  }

  .pant-col--offset-#{$i} {
    margin-left: $i * 100% / 24;
  }
}
