@import '../styles/var.scss';

.pant {
  &-overflow-hidden {
    overflow: hidden !important;
  }

  &-popup {
    z-index: $popup-z-index;
    position: fixed;
    max-height: 100%;
    overflow-y: auto;
    background-color: $popup-background-color;
    transition: $popup-transition;
    -webkit-overflow-scrolling: touch;

    &--center {
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);

      &.pant-popup--round {
        border-radius: $popup-round-border-radius;
      }
    }

    &--top {
      top: 0;
      left: 0;
      width: 100%;

      &.pant-popup--round {
        border-radius: 0 0 $popup-round-border-radius $popup-round-border-radius;
      }
    }

    &--right {
      top: 50%;
      right: 0;
      transform: translate3d(0, -50%, 0);

      &.pant-popup--round {
        border-radius: $popup-round-border-radius 0 0 $popup-round-border-radius;
      }
    }

    &--bottom {
      bottom: 0;
      left: 0;
      width: 100%;

      &.pant-popup--round {
        border-radius: $popup-round-border-radius $popup-round-border-radius 0 0;
      }
    }

    &--left {
      top: 50%;
      left: 0;
      transform: translate3d(0, -50%, 0);

      &.pant-popup--round {
        border-radius: 0 $popup-round-border-radius $popup-round-border-radius 0;
      }
    }

    &--safe-area-inset-bottom {
      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);
    }

    &-slide-top {
      &-enter-active {
        animation: pant-popup-slide-top-enter both ease;
      }
      &-leave-active {
        animation: pant-popup-slide-top-leave both ease;
      }
    }

    &-slide-right {
      &-enter-active {
        animation: pant-popup-slide-right-enter both ease;
      }
      &-leave-active {
        animation: pant-popup-slide-right-leave both ease;
      }
    }

    &-slide-bottom {
      &-enter-active {
        animation: pant-popup-slide-bottom-enter both ease;
      }
      &-leave-active {
        animation: pant-popup-slide-bottom-leave both ease;
      }
    }

    &-slide-left {
      &-enter-active {
        animation: pant-popup-slide-left-enter both ease;
      }
      &-leave-active {
        animation: pant-popup-slide-left-leave both ease;
      }
    }

    &__close-icon {
      position: absolute;
      z-index: $popup-close-icon-z-index;
      color: $popup-close-icon-color;
      font-size: $popup-close-icon-size;
      cursor: pointer;

      &:active {
        color: $popup-close-icon-active-color;
      }

      &--top-left {
        top: $popup-close-icon-margin;
        left: $popup-close-icon-margin;
      }

      &--top-right {
        top: $popup-close-icon-margin;
        right: $popup-close-icon-margin;
      }

      &--bottom-left {
        bottom: $popup-close-icon-margin;
        left: $popup-close-icon-margin;
      }

      &--bottom-right {
        right: $popup-close-icon-margin;
        bottom: $popup-close-icon-margin;
      }
    }
  }
}

@keyframes pant-popup-slide-top-enter {
  from {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes pant-popup-slide-top-leave {
  to {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes pant-popup-slide-right-enter {
  from {
    transform: translate3d(100%, -50%, 0);
  }
}

@keyframes pant-popup-slide-right-leave {
  to {
    transform: translate3d(100%, -50%, 0);
  }
}

@keyframes pant-popup-slide-bottom-enter {
  from {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes pant-popup-slide-bottom-leave {
  to {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes pant-popup-slide-left-enter {
  from {
    transform: translate3d(-100%, -50%, 0);
  }
}

@keyframes pant-popup-slide-left-leave {
  to {
    transform: translate3d(-100%, -50%, 0);
  }
}
