registry=https://registry.npm.taobao.org
sass_binary_site=https://npm.taobao.org/mirrors/node-sass
phantomjs_cdnurl=http://cdn.npm.taobao.org/dist/phantomjs
puppeteer_download_host=https://storage.googleapis.com.cnpmjs.org
mozjpeg_binary_site=https://npm.taobao.org/mirrors/mozjpeg-bin
optipng_binary_site=https://npm.taobao.org/mirrors/optipng-bin
cwebp_binary_site=https://npm.taobao.org/mirrors/cwebp-bin
