@import '../../styles/var.scss';

.demo-field {
  padding: $padding-md 0;
  background-color: $gray-1;
  min-height: calc(100vh - 56px);
  > section {
    margin-bottom: $padding-xl;
    > h2 {
      padding: 0 $padding-md;
    }
  }
}
