// Color Palette
$black: #000;
$white: #fff;
$gray-1: #f7f8fa;
$gray-2: #f2f3f5;
$gray-3: #ebedf0;
$gray-4: #dcdee0;
$gray-5: #c8c9cc;
$gray-6: #969799;
$gray-7: #646566;
$gray-8: #323233;
$red: #ee0a24;
$blue: #1989fa;
$orange: #ff976a;
$orange-dark: #ed6a0c;
$orange-light: #fffbe8;
$green: #07c160;

// Gradient Colors
$gradient-red: linear-gradient(to right, #ff6034, #ee0a24);
$gradient-orange: linear-gradient(to right, #ffd01e, #ff8917);

// Component Colors
$text-color: $gray-8;
$active-color: $gray-2;
$active-opacity: 0.7;
$disabled-opacity: 0.5;
$background-color: $gray-1;
$background-color-light: #fafafa;
$text-link-color: #576b95;

// Padding
$padding-base: 4px;
$padding-xs: $padding-base * 2;
$padding-sm: $padding-base * 3;
$padding-md: $padding-base * 4;
$padding-lg: $padding-base * 6;
$padding-xl: $padding-base * 8;

// Font
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-weight-bold: 500;
$price-integer-font-family: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial, sans-serif;
$line-height-md: 20px;

// Animation
$animation-duration-base: 0.3s;
$animation-duration-fast: 0.2s;

// Border
$border-color: $gray-3;
$border-width-base: 1px;
$border-radius-sm: 2px;
$border-radius-md: 4px;
$border-radius-lg: 8px;
$border-radius-max: 999px;

// ActionSheet
$action-sheet-max-height: 80%;
$action-sheet-header-height: 44px;
$action-sheet-header-font-size: $font-size-lg;
$action-sheet-description-color: $gray-7;
$action-sheet-description-font-size: $font-size-md;
$action-sheet-description-line-height: 20px;
$action-sheet-item-height: 50px;
$action-sheet-item-background: $white;
$action-sheet-item-font-size: $font-size-lg;
$action-sheet-item-text-color: $text-color;
$action-sheet-item-disabled-text-color: $gray-5;
$action-sheet-subname-color: $gray-7;
$action-sheet-subname-font-size: $font-size-sm;
$action-sheet-close-icon-size: 22px;
$action-sheet-close-icon-color: $gray-5;
$action-sheet-close-icon-active-color: $gray-6;
$action-sheet-close-icon-padding: 0 $padding-md;
$action-sheet-cancel-padding-top: $padding-xs;
$action-sheet-cancel-padding-color: $background-color;

// Button
$button-mini-height: 22px;
$button-mini-min-width: 50px;
$button-mini-font-size: $font-size-xs;
$button-mini-line-height: 20px;
$button-small-height: 30px;
$button-small-font-size: $font-size-sm;
$button-small-min-width: 60px;
$button-small-line-height: 28px;
$button-normal-font-size: $font-size-md;
$button-large-height: 50px;
$button-large-line-height: 48px;
$button-default-height: 44px;
$button-default-line-height: 42px;
$button-default-font-size: $font-size-lg;
$button-default-color: $text-color;
$button-default-background-color: $white;
$button-default-border-color: $border-color;
$button-primary-color: $white;
$button-primary-background-color: $green;
$button-primary-border-color: $green;
$button-info-color: $white;
$button-info-background-color: $blue;
$button-info-border-color: $blue;
$button-danger-color: $white;
$button-danger-background-color: $red;
$button-danger-border-color: $red;
$button-warning-color: $white;
$button-warning-background-color: $orange;
$button-warning-border-color: $orange;
$button-border-width: $border-width-base;
$button-border-radius: $border-radius-sm;
$button-round-border-radius: $border-radius-max;
$button-plain-background-color: $white;
$button-disabled-opacity: $disabled-opacity;

// Card
$card-padding: $padding-xs $padding-md;
$card-font-size: $font-size-sm;
$card-text-color: $text-color;
$card-background-color: $background-color-light;
$card-thumb-size: 88px;
$card-thumb-border-radius: $border-radius-lg;
$card-title-line-height: 16px;
$card-desc-color: $gray-7;
$card-desc-line-height: 20px;
$card-price-color: $gray-8;
$card-origin-price-color: $gray-6;
$card-num-color: $gray-6;
$card-origin-price-font-size: $font-size-xs;
$card-price-font-size: $font-size-sm;
$card-price-integer-font-size: $font-size-lg;
$card-price-font-family: $price-integer-font-family;

// Cell
$cell-font-size: $font-size-md;
$cell-line-height: 24px;
$cell-vertical-padding: 10px;
$cell-horizontal-padding: $padding-md;
$cell-text-color: $text-color;
$cell-background-color: $white;
$cell-border-color: $border-color;
$cell-active-color: $active-color;
$cell-required-color: $red;
$cell-label-color: $gray-6;
$cell-label-font-size: $font-size-sm;
$cell-label-line-height: 18px;
$cell-label-margin-top: 3px;
$cell-value-color: $gray-6;
$cell-icon-size: 16px;
$cell-right-icon-color: $gray-6;
$cell-large-vertical-padding: $padding-sm;
$cell-large-title-font-size: $font-size-lg;
$cell-large-label-font-size: $font-size-md;

// CellGroup
$cell-group-background-color: $white;
$cell-group-title-color: $gray-6;
$cell-group-title-padding: $padding-md $padding-md $padding-xs;
$cell-group-title-font-size: $font-size-md;
$cell-group-title-line-height: 16px;

// Checkbox
$checkbox-size: 20px;
$checkbox-border-color: $gray-5;
$checkbox-transition-duration: $animation-duration-fast;
$checkbox-label-margin: $padding-xs;
$checkbox-label-color: $text-color;
$checkbox-checked-icon-color: $blue;
$checkbox-disabled-icon-color: $gray-5;
$checkbox-disabled-label-color: $gray-5;
$checkbox-disabled-background-color: $border-color;

// Dialog
$dialog-z-index: 900;
$dialog-width: 320px;
$dialog-small-screen-width: 90%;
$dialog-font-size: $font-size-lg;
$dialog-transition: $animation-duration-base;
$dialog-border-radius: 16px;
$dialog-background-color: $white;
$dialog-header-font-weight: $font-weight-bold;
$dialog-header-line-height: 24px;
$dialog-header-padding-top: $padding-lg;
$dialog-header-isolated-padding: $padding-lg 0;
$dialog-message-padding: $padding-lg;
$dialog-message-font-size: $font-size-md;
$dialog-message-line-height: 20px;
$dialog-message-max-height: 60vh;
$dialog-has-title-message-text-color: $gray-7;
$dialog-has-title-message-padding-top: $padding-sm;
$dialog-confirm-button-text-color: $blue;

// Image
$image-placeholder-text-color: $gray-6;
$image-placeholder-font-size: $font-size-md;
$image-placeholder-background-color: $background-color;
$image-loading-icon-size: 22px;
$image-error-icon-size: 22px;

// Info
$info-size: 16px;
$info-color: $white;
$info-padding: 0 3px;
$info-font-size: $font-size-sm;
$info-font-weight: $font-weight-bold;
$info-border-width: $border-width-base;
$info-background-color: $red;
$info-dot-color: $red;
$info-dot-size: 8px;
$info-font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;

// Loading
$loading-text-color: $gray-6;
$loading-text-font-size: $font-size-md;
$loading-spinner-color: $gray-5;
$loading-spinner-size: 30px;
$loading-spinner-animation-duration: 0.8s;

// Notify
$notify-text-color: $white;
$notify-padding: $padding-xs $padding-md;
$notify-font-size: $font-size-md;
$notify-line-height: 20px;
$notify-primary-background-color: $blue;
$notify-success-background-color: $green;
$notify-danger-background-color: $red;
$notify-warning-background-color: $orange;

// Popup
$popup-z-index: 2;
$popup-background-color: $white;
$popup-transition: transform $animation-duration-base ease-out;
$popup-round-border-radius: 20px;
$popup-close-icon-size: 22px;
$popup-close-icon-color: $gray-5;
$popup-close-icon-active-color: $gray-6;
$popup-close-icon-margin: 16px;
$popup-close-icon-z-index: 1;

// Skeleton
$skeleton-row-height: 16px;
$skeleton-row-background-color: $active-color;
$skeleton-row-margin-top: $padding-sm;
$skeleton-avatar-background-color: $active-color;
$skeleton-animation-duration: 1.2s;

// SubmitBar
$submit-bar-height: 50px;
$submit-bar-z-index: 100;
$submit-bar-background-color: $white;
$submit-bar-button-width: 110px;
$submit-bar-price-color: $red;
$submit-bar-price-font-size: $font-size-md;
$submit-bar-currency-font-size: $font-size-md;
$submit-bar-text-color: $text-color;
$submit-bar-text-font-size: $font-size-md;
$submit-bar-tip-padding: $padding-xs $padding-sm;
$submit-bar-tip-font-size: $font-size-sm;
$submit-bar-tip-line-height: 1.5;
$submit-bar-tip-color: #f56723;
$submit-bar-tip-background-color: #fff7cc;
$submit-bar-tip-icon-size: 12px;
$submit-bar-button-height: 40px;
$submit-bar-padding: 0 $padding-md;
$submit-bar-price-integer-font-size: 20px;
$submit-bar-price-font-family: $price-integer-font-family;

// Switch
$switch-size: 30px;
$switch-width: 2em;
$switch-height: 1em;
$switch-node-size: 1em;
$switch-node-z-index: 1;
$switch-node-background-color: $white;
$switch-node-box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1),
  0 3px 3px 0 rgba(0, 0, 0, 0.05);
$switch-background-color: $white;
$switch-on-background-color: $blue;
$switch-transition-duration: $animation-duration-base;
$switch-disabled-opacity: $disabled-opacity;
$switch-border: $border-width-base solid rgba(0, 0, 0, 0.1);

// Tag
$tag-padding: 0.2em 0.5em;
$tag-font-size: $font-size-xs;
$tag-medium-font-size: $font-size-sm;
$tag-large-font-size: $font-size-md;
$tag-text-color: $white;
$tag-border-radius: 0.2em;
$tag-round-border-radius: $border-radius-max;
$tag-danger-color: $red;
$tag-primary-color: $blue;
$tag-success-color: $green;
$tag-warning-color: $orange;
$tag-default-color: $gray-6;
$tag-plain-background-color: $white;

// Toast
$toast-z-index: 1000;
$toast-max-width: 70%;
$toast-font-size: $font-size-md;
$toast-text-color: $white;
$toast-loading-icon-color: $white;
$toast-line-height: 20px;
$toast-border-radius: $border-radius-md;
$toast-background-color: rgba($text-color, 0.88);
$toast-icon-size: 40px;
$toast-text-min-width: 96px;
$toast-text-padding: $padding-xs $padding-sm;
$toast-default-padding: $padding-md;
$toast-default-width: 90px;
$toast-default-min-height: 90px;
$toast-position-top-distance: 50px;
$toast-position-bottom-distance: 50px;

// Overlay
$overlay-z-index: 1;
$overlay-background-color: rgba(0, 0, 0, 0.7);

// picker
$picker-background-color: $white;
$picker-toolbar-height: 44px;
$picker-title-font-size: $font-size-lg;
$picker-title-line-height: $line-height-md;
$picker-action-padding: 0 $padding-md;
$picker-action-font-size: $font-size-md;
$picker-confirm-action-color: $text-link-color;
$picker-cancel-action-color: $gray-6;
$picker-option-font-size: $font-size-lg;
$picker-option-text-color: $black;
$picker-option-disabled-opacity: 0.3;
$picker-loading-icon-color: $blue;
$picker-loading-mask-color: rgba(255, 255, 255, 0.9);
