@import '../../../../styles/var.scss';

.nav-bar {
  position: relative;
  height: 56px;
  line-height: 56px;
  text-align: center;
  background-color: white;
  > h1 {
    font-weight: $font-weight-bold;
    font-size: $font-size-lg;
    text-transform: capitalize;
    margin: 0;
  }
  &__back {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  &__github {
    display: block;
    line-height: 1;
    position: absolute;
    top: 16px;
    right: 16px;
    > img {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }
}
