@import '../../styles/var.scss';

.demo-tab {
  padding: $padding-md 0;
  background-color: $gray-1;
  > section {
    margin-bottom: $padding-lg * 2;
    > h2 {
      padding: 0 $padding-md;
    }
    .pant-tabs__pane {
      padding: 24px 20px;
      background-color: #fff;
    }
    .pant-tabs--card {
      .pant-tabs__pane {
        background-color: transparent;
      }
    }
    .pant-tab {
      .pant-icon {
        vertical-align: -2px;
      }
    }
  }
}
