@import '../../styles/var.scss';

.demo-lazyload {
  padding: $padding-md 0;
  background-color: $gray-1;
  min-height: calc(100vh - 56px);
  > section {
    margin-bottom: $padding-xl;
    padding: 0 $padding-md;
    .lazyload {
      width: 100%;
      height: 250px;
      margin-bottom: $padding-md;
      padding: $padding-md;
      background-color: white;
    }
  }
}
